doctype html
html
    head
        title TaskList Manager
        link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/assets/custom.css")
    body
        div.container
            h1 This is working!!!