doctype html
html
    head
        title TaskList Manager
        link(rel="stylesheet", type="text/css", href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/assets/css/custom.css")
        link(href="https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Muli|Ubuntu" rel="stylesheet")
    body.normal

        block content

        // Begin Scripts
        
        script(src="/assets/js/jquery-3.2.1.min.js")
        script(src="/assets/js/bootstrap.min.js")

