body.index {
        height: 100vh;
        background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,.8) 0%, rgba(241,111,92,1) 17%, rgba(240,79,57,1) 42%, rgba(240,47,23,1) 69%, rgba(231,56,39,1) 100%);
        background-repeat: no-repeat;
        margin: 0px;
}

body.normal {
    background-color: rgba(231,56,39,1);
    margin: 0px;
}

div#centerSplash {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: calc(50vh - 100px);
    width: 100%;
}

span.login {
    color: #fff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

h1#centerTitle {   
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}

div#taskEntry {
    background-color: #000;
    padding: 30px 10px;
}

.blackSubmit {
    background-color: #000;
    color: #fff;
}

input.taskInput {
    width: 500px !important;
}

.taskList {
    margin-top: 0px;
    background-color: #222;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0px;
}

.taskItem {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.taskItem:hover {
    color: #fff;
    text-decoration: line-through;
}