body {
        height: 100vh;
        width: 100vw;
        background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,.8) 0%, rgba(241,111,92,1) 17%, rgba(240,79,57,1) 42%, rgba(240,47,23,1) 69%, rgba(231,56,39,1) 100%);
        background-repeat: no-repeat;
}

div#centerSplash {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

h1#centerTitle {   
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}